*  {
  margin: 0;
  padding: 0;
}

*:focus{
  outline: 0 !important;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  text-align: center;
  height: 8em;
  width: 75%;
  margin: 0 12.5%;
  margin-bottom: 10em;
  padding: 0;
  background-color: skyblue;
}

header h1 {
  text-align: center;
  margin-top: 1em;
  text-align: center;
  font-family: 'Satisfy' , cursive;
  font-size: 2.5em;
  letter-spacing: 5px;
  word-spacing: 20px;
  color: tomato;
}

button {
  margin: 0;
  width: 75%;
  height: 4.5em;
  border-radius: 25px;
  background-color: #21F8FF;
  color: tomato;
  font-family: 'Indie Flower', cursive;
  font-size: 1.25em;
  letter-spacing: 2px;
}

button:hover {
  cursor: pointer;
  box-shadow: -10px 5px #15878B;
}

.body {
  text-align: center;
}

.tags {
  background-color: #E1E1E1;
  border-radius: 25px;
  width: 75%;
  margin: 0 12.5%;
  max-height: 15em;
  overflow: scroll;
  padding: 3em 0;
  text-align: center;
  font-size: large;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.wrap {
  background-image: url('https://images.unsplash.com/photo-1506609762754-bf3a1b5a4d7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 1000px) {


}